<dive>
    <h2>
        [{{movie}}</h2>
</dive>


<div class="col-12 col-md-8 col-xl-9">
                    <form id="search-form" class="form w-30">
                        <select id="format-input" class="form-input w-30">
                            <option value="" disabled selected>Select a Currency
                            </option>
                    </form>
                </div>