<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cinemagic</title>
  <link rel="stylesheet" href="/css/output.css">
</head>

<body>
  <div>
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      {{!-- <a href="/profile">profile</a> --}}
      <button class="text-white px-3 py-2 rounded-md text-sm font-medium hover:text-slate-500 no-button"
        id="logout">Logout</button>
      {{!-- {{else}} --}}
      {{!-- <a class=" text-white px-3 py-2 rounded-md text-sm font-medium hover:text-slate-500" href="/login">Login</a> --}}
      {{/if}}
    </nav>


    <div class="">
      <!-- Render the sub layout -->
      {{{ body }}}
    </div>
    <footer>

    </footer>
  </div>
  {{!-- <script src="/js/profile.js"></script> --}}
  {{!-- <script src="/js/searchbar.js"></script> --}}
  {{!-- <script src="/js/login.js"></script> --}}
  {{!-- <script src="/js/searchpost.js"></script> --}}
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js">
  </script>
  {{/if}}
</body>

</html>