<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form loginForm">
      <div class="form-group">
        <label for="username_login">Username:</label>
        <input class="form-input" type="text" id="username_login" />
      </div>
      <div class="form-group">
        <label for="password_login">Password:</label>
        <input class="form-input" type="password" id="password_login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login!</button>
      </div>
    </form>
  </div>
  <div class="col-md-6"> 
    <h2>Signup</h2>

    <form class="form signupForm">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username_signup" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-input" type="text" id="email" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password_signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign-Up!</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>